.listen {
  padding: 90px 0;
}

.listen__container {
  padding: 0 24px;
}

.listen__title {
  font-size: 34px;
  letter-spacing: 3.4px;
  text-align: center;
}

.listen__cards {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.listen-card-link-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listen__card-link {
  background-color: var(--color-primary);
  font-size: 10.8px;
  color: var(--color-secondary);
  padding: 15px;
  letter-spacing: 2.16px;
  font-weight: 700;
}

.listen__card-image-wrapper {
  position: relative;
}

.listen__card-image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(101, 62, 215, 0.3);
}
