.staff {
  padding: 90px 24px;
  background-image: linear-gradient(
      rgba(32, 31, 34, 0.5),
      rgba(32, 31, 34, 0.5)
    ),
    url("../img/staff/background-image.jpeg");
}

.staff__title {
  text-align: center;
  font-size: 34px;
}

.staff__cards {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.staff__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-surface);
  padding: 43px 27px;
  border-bottom: 2px solid var(--color-primary);
}

.staff__card-image {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.staff .staff__card-name {
  margin-top: 20px;
  font-size: 22px;
  color: var(--color-secondary);
  font-family: Ubuntu;
}

.staff__card-position {
  margin-top: 20px;
  color: var(--color-secondary);
  font-size: 14px;
}

.staff__card-description {
  margin-top: 20px;
}

.staff__card-social-links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.staff__card-social-link {
  padding: 5px;
  background-color: var(--color-primary);
  cursor: pointer;
}

.staff__card-social-link-svg {
  width: 30px;
  height: 30px;
}
