.albums {
  background-image:
    linear-gradient(rgba(66, 41, 141, 0.95), rgba(66, 41, 141, 0.95)),
    url("../img/albums/background-image.jpeg");
  object-fit: cover;
  background-position: 44% 37%;
}

@media (max-width: 1199px) {
  .albums__arrow-btn-svg {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 50%;
  }

  #back-arrow {
    padding-right: 2px;
  }

  #forward-arrow {
    padding-left: 2px;
  }
}

@media (min-width: 1200px) {
  .albums__arrow-btn-svg {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }

  .albums__arrow-btn {
    color: #ffffff;
    opacity: 70%;
    transition: all 0.5s;
  }

  .albums__arrow-btn:hover {
    opacity: 90%;
  }
}

@media (max-width: 990px) {
  .albums {
    padding: 90px 24px;
  }

  .albums__title {
    font-size: 34px;
    letter-spacing: 3.4px;
  }

  .albums__carousel {
    justify-content: center;
  }

  .albums__gallery {
    flex-direction: row;
  }

  .albums__gallery-item {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc((100% - 2 * 20px) / 3);
    height: auto;
  }
}

@media (min-width: 991px) {
  .albums {
    background-attachment: fixed;
    padding: 100px 24px;
  }

  .albums__gallery-item-image {
    width: 204px;
    height: auto;
  }

  .albums__title {
    font-size: 40px;
    letter-spacing: 4px;
  }

  .albums__carousel {
    justify-content: space-between;
    margin-top: 50px;
  }

  .albums__gallery-item {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc((100% - 4 * 20px) / 5);
    height: auto;
  }

  .albums__gallery {
    flex-direction: row;
  }
}

@media (max-width: 766px) {
  .albums__gallery-item {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc((100% - 1 * 20px) / 2);
    height: auto;
  }
}

@media (max-width: 478px) {
  .albums__gallery-item {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: auto;
  }
}

.albums__title {
  text-align: center;
}
.albums__gallery {
  display: flex;
  gap: 20px;
  list-style: none;
  transition: transform 0.5s;
}

.albums__arrow-btn {
  display: flex;
  cursor: pointer;
}

.albums__gallery-item {
  /* display: none; */
  justify-content: center;
  align-items: center;
}

.albums__viewport {
  overflow: hidden;
}

.albums__gallery-item:first-child {
  display: flex;
}

.albums__carousel {
  display: flex;
  align-items: center;
}
