.equipment {
  background-image: linear-gradient(
      to right,
      rgba(32, 31, 34, 0.97),
      rgba(32, 31, 34, 0.97)
    ),
    url("../img/equipment/background-image.jpeg");
}

@media (max-width: 992px) {
  .equipment {
    padding: 90px 24px;
  }

  .equipment__lists {
    flex-direction: column;
    gap: 3.125rem;
  }

  .equipment__title {
    font-size: 2.125rem;
    letter-spacing: 3.4px;
  }

  .equipment__list-title {
    font-size: 1.375rem;
  }
}

@media (min-width: 992px) {
  .equipment {
    padding: 100px 24px;
  }

  .equipment__lists {
    flex-direction: row;
    justify-content: space-between;
    gap: 6.25rem;
  }

  .equipment__title {
    font-size: 40px;
    letter-spacing: 4px;
  }

  .equipment__list-title {
    font-size: 24px;
  }
}

.equipment__lists {
  margin-top: 45px;
  display: flex;
}

.equipment__list {
  padding: 0 15px;
}

.equipment__title {
  text-align: center;
}

.equipment__list-content {
  list-style: none;
  margin-top: 20px;
}

.equipment__list-item {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  color: var(--color-li);
  font-size: 18px;
  margin-bottom: 16px;
}
