.contacts {
  background-image: linear-gradient(
      to top,
      rgba(120, 86, 85, 0.9),
      rgba(42, 16, 109, 0.9)
    ),
    url("../img/contacts/background-image.jpeg");
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 991px) {
  .contacts {
    padding: 90px 0;
  }

  .contacts__content {
    flex-direction: column;
    gap: 3.125rem;
  }

  .contacts__info-title {
    font-size: 34px;
    letter-spacing: 3.4px;
  }

  .contacts__content {
    padding: 0 24px;
  }

  .contacts__label {
    font-size: 22px;
  }

  .contacts__form {
    padding: 43px 55px;
  }

  .contacts__list {
    margin-top: 25px;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: 992px) {
  .contacts {
    background-attachment: fixed;
    padding: 100px 0;
  }

  .contacts__content {
    flex-direction: row;
    gap: 3.125rem;
  }

  .contacts__info {
    width: 50%;
  }

  .contacts__form {
    width: 50%;
  }

  .contacts__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .contacts__label {
    align-items: center;
  }

  .contacts__list {
    margin-top: 50px;
    flex-direction: column;
    gap: 1.25rem;
  }

  .contacts__info-title {
    font-size: 40px;
    letter-spacing: 4px;
  }

  .contacts__content {
    padding: 0 40px;
  }

  .contacts__social-link:hover {
    background-color: #8768e0;
  }

  .contacts__btn:hover {
    background-color: var(--color-secondary);
    color: black;
  }

  .contacts__details-wrapper {
    display: block;
    width: 60%;
  }

  .contacts__details {
    display: block;
  }

  .contacts__label {
    display: block;
    width: 40%;
  }

  .contacts__label {
    font-size: 24px;
  }

  .contacts__form {
    padding: 70px 100px;
  }

  .contacts__link:hover {
    text-decoration: underline;
  }
}

.contacts__list {
  display: flex;
}

.contacts__info {
  color: var(--color-secondary);
}

.contacts__info-description {
  font-size: 18px;
}

.contacts__content {
  display: flex;
}

.contacts__info {
  display: flex;
  flex-direction: column;
}

.contacts__info-description {
  margin-top: 25px;
}

.contacts__label {
  font-family: Ubuntu;
  font-weight: 700;
}

.contacts__details {
  color: var(--color-li);
  font-weight: 450;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #201f22;
}

.contacts__form-label {
  background-color: #2a292d99;
  padding: 19px 21px;
  width: 100%;
  cursor: text;
}

.contacts__form-input {
  background-color: transparent;
  color: #eee9ff;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

.contacts__form-input::placeholder {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  color: var(--color-text);
}

.contacts__btn {
  transition: 0.3s ease;
  padding: 17.5px;
  width: 100%;
  margin-top: 56px;
  background-color: var(--color-primary);
  font-size: 12px;
  color: var(--color-secondary);
  letter-spacing: 2.4px;
  font-weight: 700;
}

.contacts__social-links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 15px;
}

.contacts__social-link {
  transition: 0.3s ease;
  padding: 10px;
  background-color: var(--color-primary);
  cursor: pointer;
}

.contacts__social-link-svg {
  width: 20px;
  height: 20px;
}
