.footer__top {
  padding: 60px 30px 24px 24px;
  display: flex;
}

@media (max-width: 991px) {
  .footer__top {
    flex-direction: column;
  }

  .footer__nav {
    flex-direction: column;
    font-size: 16px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__hr {
    width: 90%;
  }

  .footer__brand {
    align-items: center;
  }

  .footer__nav {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .footer__top {
    flex-direction: row;
  }

  .footer__nav {
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: end;
    flex: 1;
    font-size: 14px;
  }

  .footer__bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer__hr {
    width: 100%;
  }

  .footer__brand {
    align-items: start;
  }

  .footer__nav-link:hover {
    text-decoration: underline var(--color-secondary);
    color: var(--color-primary);
  }
}

.footer__hr {
  height: 1px;
  border: none;
  background-color: var(--color-secondary);
  margin: 0 auto;
  opacity: 0.2;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__logo {
  width: 224px;
}

.footer__logo-description {
  color: var(--color-secondary);
  margin-top: 5px;
  font-size: 14px;
}

.footer__nav {
  display: flex;
  color: var(--color-secondary);
  letter-spacing: 1.6px;
}

.footer__nav-link {
  margin: 7.5px 5px;
}

.footer__bottom {
  display: flex;
  padding: 15px 0;
  font-size: 14px;
  color: var(--color-secondary);
}

.footer__rights {
  margin-top: 20px;
}
