<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width = device - width, initial-scale = 1.0"
    />
    <title>Recording Studio Website</title>
    <link rel="icon" type="image/png" href="img/head/favicon.png" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  </head>
  <body>
    <header>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></section>
    </header>

    <main>
      <!-- SERVICES -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.services.partial.html"
      ></section>
      <!-- ABOUT -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.about.partial.html"
      ></section>
      <!-- STUDIOS -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.studios.partial.html"
      ></section>
      <!-- EQUIPMENT -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.equipment.partial.html"
      ></section>
      <!-- ALBUMS -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.albums.partial.html"
      ></section>
      <!-- STAFF -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.staff.partial.html"
      ></section>
      <!-- LISTEN-RECORDING -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.listen-recording.partial.html"
      ></section>
    </main>

    <footer></footer>
  </body>
</html>
